/* chat.css */
body {
    background-color: #222f3e !important;
    padding: 0px;
    margin: 0px;
    font-family: Verdana, Geneva, sans-serif;
    overflow: hidden;
}

#main {
    text-align: center;
}

#input {
    width: 100%;
    border: 0.1em solid #0abde3 !important;
    border-radius: 1.5rem !important;
}

#output {
    height: 75vh;
    text-align: left;
    overflow: auto;
    border: 0.25em solid #0abde3 !important;
    border-radius: 1.5rem !important;
}
.msg {
    color: #0abde3;
    font-size: 1.5vw;
    word-wrap: break-word;
    margin: 0px;
}

#loginContainer {    
    background-color: #222f3e;
    height: 100%;
    text-align:center;
}

#ip {
    color: #48dbfb;
    font-size: 3vw;
    word-wrap: break-word;
}

#welcome {
    color: #48dbfb;
    font-size: 5vw;
    word-wrap: break-word;
}

#inputForm {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.textInput {
    background-color: #222f3e;
    color: #0abde3;
    box-shadow: none;
    font-size: 2vw;
}

#nameInput {
    border: 0px;
}

#submitButton {
    font-size: 2vw;
    background-color: #222f3e;
    color: #0abde3;
    border: 0.1em solid !important;
    border-radius: 1.5rem !important;
    border-color: #0abde3;
}

.textInput:focus, #submitButton:focus {
    outline: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #0abde3;
    opacity: 1; /* Firefox */
}

::-webkit-scrollbar {
    display: none;
}

@media (pointer:coarse) {
    /* custom css for "touch targets" */
    #inputForm {
        flex-direction: column;
    }
    
    .msg {
        font-size: 6vw;
    }

    #ip {
        font-size: 12vw;
    }

    #welcome {
        font-size: 20vw;
    }

    .textInput {
        font-size: 8vw;
    }

    #nameInput {
        text-align: center;
    }

    #submitButton {
        font-size: 8vw;
        border: 4px solid;
        border-radius: 0.75rem;
    }
}